/* set the background of the two pages */
body {
   font-family:"Franklin Gothic";
   font-size: 14px;
   line-height: 1.428571429;
   color: #333333;
    background-image: url('Images/Background-Image.png');
    height: 100%;
}

/* wrapper around everything but the footer */
.wrapper {
    min-height: 100%;
}

/* top header for both pages */
header {
  overflow: hidden;
  background-color: #333;
  top: 0;
}

/* links in both the header and the nav bar */
a{
    float: right;
    display: block;
    color: orange;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 16px;
}

#loginArea{

    margin: auto;
    width: 500px;
    background-color: white;
    text-align: center;
    border-width: thick;
    border-radius: 15px;
    border-color: orange;
    padding-bottom: 10px;
}

h3{
    font-size: 34px;
    color: orange;
}

h4{
    font-size: 20px;
    height:5px;
    color: orange;
}

#loginButton{
    border-radius: 10px;
    background-color: orange;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-family:"Franklin Gothic";
}

#mainLogo{
}

#mainSection{
    display: block;
    text-align: center;
}

#mainbars{
    display: block;
    text-align: center;
}

#mainBars ul li a{
    width: 100%;
    background-color: black;
    color: orange;
    font-size: 36px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-radius: 15px;

}

#mainBars ul li a:hover{
    background-color: orange;
    color: black;
    font-size: 36px;
    margin-bottom: 10px;
    padding-bottom: 10px;

}

#accountInfo{
    border-radius: 15px;
    background-color: white;
    margin:auto;
    width: 500px;
    padding-bottom: 10px;
}

#accountImage{
    width: 250px;
    height:250px;
    border-radius: 725px;
}

#changeButton{
    background-color: orange;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-family:"Franklin Gothic";
}


#aboutInfo{
    border-radius: 15px;
    background-color: white;
    margin:auto;
    width: 500px;
    padding-bottom: 10px;
}


/* create the footer */
.footer {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #333;
    text-align: center;
    color: white;
    font-size: 12px;
}

.title {
    overflow: hidden;
    padding-top: 10px;
    padding-left: 30px;
    display: block;
    box-sizing: border-box;
    width: auto;
}

#title{
    float: left;
    margin-bottom: 10px;
    font-size: 50px;
}

#title_image{
    margin-top: 15px;
    display: inline;
}



/* link for the nav bar (includes the changes from the header links) */
#search_input{
    margin-top: 14px;
    margin-right: 12px;
    float: right;
    display: block;
    color: gray;
    font-size: 16px;
    border-radius: 5px;
    width: 300px;
    background-image: url('Images/search_icon.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 30px 15px;

}

/* heading 1 */
h1{
    margin-bottom: 10px;
    font-size: 50px;

}

/* sets the article container */
article{
    background-color: white;
    overflow: hidden;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

/* lets the text display on a new line same positioning */
.different-lines{
    overflow: hidden;
    display: block;
    box-sizing: border-box;
    width: auto;
}




