/* set the background of the two pages */
body {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 14px;
   line-height: 1.428571429;
   color: #333333;
    background-image: url('Images/Background-Image.png');
    height: 100%;
}

/* wrapper around everything but the footer */
.wrapper {
    min-height: 100%;
}

/* top header for both pages */
header {
  overflow: hidden;
  background-color: #333;
  top: 0;
}

/* links in both the header and the nav bar */
a{
    float: right;
    display: block;
    color: lightgray;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

#loginArea{

    margin: auto;
    width: 500px;
    height: 300px;
    background-color: white;
    text-align: center;
    border-width: thick;
    border-radius: 15px;
    border-color: orange;
}

h3{
    font-size: 24px;
    color: orange;
    font-family: "Playfair Display"
}

h4{
    height:5px;
    text-underline-position: below;

}
#loginButton{
  background-color: orange;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

#mainLogo{

    padding-right: 500px;
}

/* create the footer */
.footer {
    padding-top: 5px;
    padding-bottom: 5px;
  background-color: #333;
  text-align: center;
  color: white;
  font-size: 12px;

}





