/* set the background of the two pages */
body {
   font-family:"Franklin Gothic";
   font-size: 14px;
   line-height: 1.428571429;
   color: #333333;
    background-image: url('Images/Background-Image.png');
    height: 100%;
}

/* wrapper around everything but the footer */
.wrapper {
    min-height: 100%;
}

/* top header for both pages */
header {
  overflow: hidden;
  background-color: #333;
  top: 0;
}

/* links in both the header and the nav bar */
a{
    float: right;
    display: block;
    color: orange;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 16px;
}

#loginArea{

    margin: auto;
    width: 500px;
    background-color: white;
    text-align: center;
    border-width: thick;
    border-radius: 15px;
    border-color: orange;
    padding-bottom: 10px;
}

h3{
    font-size: 34px;
    color: orange;
}

h4{
    font-size: 20px;
    height:5px;
    color: orange;
}

#loginButton{
  background-color: orange;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

#mainLogo{
}

#mainSection{
    display: block;
    text-align: center;
}




#mainbars{
    display: block;
    text-align: center;
}

#mainBars ul li a{
    width: 100%;
    background-color: black;
    color: orange;
    font-size: 36px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-radius: 15px;

}

#mainBars ul li a:hover{
    background-color: orange;
    color: black;
    font-size: 36px;
    margin-bottom: 10px;
    padding-bottom: 10px;

}




/* create the footer */
.footer {
    padding-top: 5px;
    padding-bottom: 5px;
  background-color: #333;
  text-align: center;
  color: white;
  font-size: 12px;

}





